In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn import utils
from sklearn.model_selection import GridSearchCV

In [ ]:
df=pd.read_csv('Data Train.csv')
df1=pd.read_csv('Data Test.csv')

In [ ]:
df.replace('?',np.nan, inplace=True)

In [ ]:
df.fillna(method='bfill', inplace=True)

In [ ]:
label_encoder = preprocessing.LabelEncoder()

In [ ]:
df['Kelas Pekerja']= label_encoder.fit_transform(df['Kelas Pekerja']) 
df['Pendidikan']= label_encoder.fit_transform(df['Pendidikan'])
df['Gaji']= label_encoder.fit_transform(df['Gaji'])
df['Status Perkawinan']= label_encoder.fit_transform(df['Status Perkawinan'])
df['Pekerjaan']= label_encoder.fit_transform(df['Pekerjaan'])
df['Jenis Kelamin']= label_encoder.fit_transform(df['Jenis Kelamin'])
df.head()

   id  Umur  Kelas Pekerja  ...  Kerugian Capital  Jam per Minggu  Gaji
0   0    21              7  ...               0.0            35.0     0
1   1    49              7  ...               0.0            40.0     0
2   2    44              7  ...               0.0            45.0     1
3   3    24              7  ...               0.0            35.0     0
4   4    33              7  ...               0.0            40.0     1

[5 rows x 13 columns]

In [ ]:
df1['Kelas Pekerja']= label_encoder.fit_transform(df1['Kelas Pekerja']) 
df1['Pendidikan']= label_encoder.fit_transform(df1['Pendidikan'])
df1['Status Perkawinan']= label_encoder.fit_transform(df1['Status Perkawinan'])
df1['Pekerjaan']= label_encoder.fit_transform(df1['Pekerjaan'])
df1['Jenis Kelamin']= label_encoder.fit_transform(df1['Jenis Kelamin'])
df1.head()

      id  Umur  ...  Kerugian Capital  Jam per Minggu
0  35994    30  ...               0.0            40.0
1  35995    28  ...               0.0            50.0
2  35996    34  ...               0.0            40.0
3  35997    51  ...        28028000.0            40.0
4  35998    20  ...        22428000.0            40.0

[5 rows x 12 columns]

In [ ]:
df.columns

In [ ]:
normscaler = Normalizer()
datanorm = normscaler.fit_transform(df)
colnames = ['id', 'Umur', 'Kelas Pekerja', 'Berat Akhir', 'Pendidikan',
       'Jmlh Tahun Pendidikan', 'Status Perkawinan', 'Pekerjaan',
       'Jenis Kelamin', 'Keuntungan Kapital', 'Kerugian Capital',
       'Jam per Minggu', 'Gaji']

dfkale = pd.DataFrame(datanorm, columns=colnames)

In [ ]:
normscaler = Normalizer()
datanorm = normscaler.fit_transform(df1)
colnames = ['id', 'Umur', 'Kelas Pekerja', 'Berat Akhir', 'Pendidikan',
       'Jmlh Tahun Pendidikan', 'Status Perkawinan', 'Pekerjaan',
       'Jenis Kelamin', 'Keuntungan Kapital', 'Kerugian Capital',
       'Jam per Minggu']

dfkale1 = pd.DataFrame(datanorm, columns=colnames)

In [ ]:
stdscalar = StandardScaler()
datascale = stdscalar.fit_transform(df)

colnames = ['id', 'Umur', 'Kelas Pekerja', 'Berat Akhir', 'Pendidikan',
       'Jmlh Tahun Pendidikan', 'Status Perkawinan', 'Pekerjaan',
       'Jenis Kelamin', 'Keuntungan Kapital', 'Kerugian Capital',
       'Jam per Minggu', 'Gaji']

dfscale = pd.DataFrame(datascale, columns=colnames)

In [ ]:
datascale = stdscalar.fit_transform(df1)

colnames = ['id', 'Umur', 'Kelas Pekerja', 'Berat Akhir', 'Pendidikan',
       'Jmlh Tahun Pendidikan', 'Status Perkawinan', 'Pekerjaan',
       'Jenis Kelamin', 'Keuntungan Kapital', 'Kerugian Capital',
       'Jam per Minggu']
df1scale = pd.DataFrame(datascale, columns=colnames)

In [ ]:
x = dfscale.drop(['Gaji'], axis=1)
y = df['Gaji']

In [ ]:
modelKNN = KNeighborsClassifier(n_neighbors=10, weights='distance',algorithm='auto',leaf_size=50)

x_fit, x_eval, y_fit, y_eval = train_test_split( x, y, test_size=0.25, stratify=y)

In [ ]:
modelKNN.fit(x_fit, y_fit)

y_predik = modelKNN.predict(x_eval)

score = accuracy_score(y_eval, y_predik)
score

0.8242026891876876

In [ ]:
model_rf = RandomForestClassifier()

model_rf.fit(x_fit, y_fit)

y_prediks = model_rf.predict(x_eval)

score = accuracy_score(y_eval, y_prediks)
score

0.8558728747638626

In [ ]:
prediksi = model_rf.predict_proba(df1scale)[:,1]
prediksi

In [ ]:
x = dfscale.drop('Gaji', axis=1)
y = df['Gaji']

In [ ]:
modelKNN = KNeighborsClassifier(n_neighbors=10, weights='distance',algorithm='auto',leaf_size=50)

x_fit, x_eval, y_fit, y_eval = train_test_split( x, y, test_size=0.25, stratify=y)

In [ ]:
KNeighborsClassifier?
RandomForestClassifier?

In [ ]:
modelKNN.fit(x_fit, y_fit)

y_predik = modelKNN.predict(x_eval)

score = accuracy_score(y_eval, y_predik)
score

0.8297588620957884

In [ ]:
prediksi = modelKNN.predict_proba(df1scale)[:,1]
prediksi

array([0. , 0.3, 0.3, ..., 0. , 0. , 0.2])

In [ ]:
from google.colab import  drive
drive.mount('/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /drive

In [ ]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.30, random_state=0,stratify=y)

param_grid = {'n_estimators':[1200], 'criterion':['entropy'],
              'max_features':['auto'],
              'max_depth':[18], 
              'bootstrap':[True],
              'min_samples_split':[2], 
              'class_weight':['balanced'],
              'min_samples_leaf':[7]}

rscv = RandomizedSearchCV(model_rf, param_grid, cv = 100, scoring ='roc_auc')

In [ ]:
x_train, x_valid, y_train, y_valid = train_test_split(x, y, test_size=0.30, random_state=0,stratify=y)

param_grid = {'n_estimators':[1200], 'criterion':['entropy'],
              'max_features':['auto'],
              'max_depth':[18], 
              'bootstrap':[True],
              'min_samples_split':[2], 
              'class_weight':['balanced'],
              'min_samples_leaf':[7]}

gscv = GridSearchCV(model_rf, param_grid, cv = 200, scoring ='roc_auc')

In [ ]:
rscv.fit(x_train, y_train)

In [ ]:
gscv.fit(x_train, y_train)

GridSearchCV(cv=200, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=Non...
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'bootstrap': [True], 'class_weight': ['balanced'],
                         'criterion': ['entropy'], 'max_depth': [18],
                         'max_features': ['auto'], 'min_samples_leaf': [7],
                         'min_samples_split': [2], 'n_estimators': [1200]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [ ]:
gscv.best_score_

0.9138963980852669

In [ ]:
0.9148897299788754

In [ ]:
gscv.best_params_

{'bootstrap': True,
 'class_weight': 'balanced',
 'criterion': 'entropy',
 'max_depth': 18,
 'max_features': 'auto',
 'min_samples_leaf': 7,
 'min_samples_split': 2,
 'n_estimators': 1200}

In [ ]:
rscv.best_estimator_

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='entropy', max_depth=18, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=7, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=900,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
predik = gscv.predict_proba(df1scale)[:,1]

In [ ]:
submissionrscv = pd.DataFrame({'id':df1['id'],'Gaji':predik})
submissionrscv.to_csv('/drive/My Drive/HasilRF11.csv', index=False)